$green: #8cc63f;
$link: #000000;
$link-hover: $green;
$primary: $green;
$secondary: #aee85f;
$box-shadow: rgba(0, 0, 0, 0.0470588) 0px 2px 5px 0px;
$card-header-shadow: none;
$card-shadow: none;


footer {
    font-size: 18px;
    background: #fcfdfc !important;
}

footer li {
    padding: 2px 0 2px 0;
}

.navbar {
    box-shadow: $box-shadow;
}

::selection {
    background: #deeec7;
}

.card.is-course {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 2px 5px 0px !important;
    transition: all 0.3s ease-in-out;
    height: 100%;
}

.card.card.is-course:hover, .card:focus {
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 10px 10px 0px !important;
}

.color-instagram {
    color: #e4405f;
}

.color-facebook {
    color: #3B5998;
}

.motovioBg {
    background: #fcfdfc;
}

.supportImage {
    max-width: 150px;
}

.mockupWidth {
    max-width: 500px !important;
}

.eqHeight {
    height: 130px;
}

.card.is-usp {
    background: none;
}

.pageMargin {
    margin: 5rem 0 5rem 0;
}

img {
    pointer-events: none;
    user-select: none;
}

@import '~bulma/bulma.sass';